header {
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 5em;
        @media(max-width: 700px) {
            flex-direction: column;
            height: 8em;           
        }

        .nav--logo {
        flex-grow: 1;
        @media(max-width: 700px) {            
            border-bottom: 2px solid $primary-color;
            padding: .8em 0;
            flex-grow: 0;
        }

            a {
                text-transform: uppercase;
                font-size: 1.6em;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        .nav--menu {
            ul {
                display: flex;
                @media(max-width: 900px) {
                    padding: 1em 0;
                    flex-direction: row;
                }
                li{
                    a {                        
                        padding: 1.2em;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        transition: color ease-out 250ms;
                        &:hover {
                            color: $secondary-color;
                        }
                        @media(max-width: 700px) {
                            padding: .5em;
                            font-size: .7em;
                        }
                    }
                }
            }
        }
    }
}
