.info {
    background:rgba(0, 0, 0, 0) url('../img/bg.jpg') repeat scroll right center / cover;
    .info--text {
        padding: 7em 0;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $secondary-color;
        font-weight: 600;
        z-index: 9;
        @media(max-width: 700px) {
            font-size: 1.2em;
            padding: 13em 0 4em 0;
        }
        span {
            display: block;
            font-size: .7em;
            text-transform: none;
            letter-spacing: 1px;
            font-weight: 200;
        }
    }
}

.portfolio {
    padding: 4em 0;
    .portfolio--menu {
        margin-bottom: 1.5em;
        @media(max-width: 700px) {
            font-size: .8em;

        }
    }

    .portfolio--items {
        display: grid;
        position: relative;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-gap: 3em;
        justify-items: stretch;
        margin-bottom: 3em;
        @media(max-width: 700px) {            
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
            grid-gap: 1em;
            font-size: .6em;
        }
        .portfolio--items--item {
            position: relative;
            cursor: pointer;
            box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
            .wrapper {   
                img {
                    width: 100%;
                    height: 100%;
                }         
                .title {
                    letter-spacing: 2px;
                    font-size: 1.3em;
                    padding: .5em 1em 1em 1em;
                    text-transform: uppercase;
                    
                    span {
                        display: block;
                        text-transform: none;
                        font-size: .9em;
                        letter-spacing: 1px;
                    }
                    &::before {
                        transition: all ease-out 250ms;
                        content: '';
                        color: #fff;
                        font-family: 'Dosis', sans-serif;
                        letter-spacing: 2px;
                        position: none;
                        top: 50%;
                        left: 1em;
                        transform: translateX(-20%);                        
                    }
                }
            }   
            &:hover {
                box-shadow: 0 5px 25px rgba(0, 0, 0, .3);
                .title::before {
                    content: 'View more';
                    position: absolute;
                    transform: translateX(20%);                    
                }
            }
        }
    }

    .portfolio--view-more {
        display: flex;
        
        a {
            font-size: .9em;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 1em 3em;
            border: 1px solid $primary-color;
            overflow: hidden;
            margin: 0 auto;
            transition: all ease-out 400ms;
            &:hover {
                transform: scale(1.03);
                box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
            }
        }
    }
}

.service {
    background: rgb(240, 240, 240);
    margin: 0 auto;
    padding: 2em 0 6em 0;
    @media(max-width: 700px) {
        padding: 2em 0 2em 0;
    }
    .service--text {
        padding: 4em 15em;
        text-align: center;
        @media(max-width: 800px) {
            padding: 1em 3em 4em 4em;
        }
        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 2em;
            padding-bottom: .7em;
        }

        p {
            font-size: .9em;
        }
    }
    .service--cards {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-gap: 2em;
        text-align: center;
        @media(max-width: 700px) {
            grid-template: repeat(6, 1fr) / repeat(1, 1fr);
            grid-gap: 2em;
            padding: 1em;
        }
        .service--card {
            cursor: pointer;
            padding: 4em 3em;
            background: #fff;
            transition: all ease-in-out 350ms;
            img {
                
            }
            h3 {
                text-transform: uppercase;
                letter-spacing: 1px;
                padding-bottom: .8em;
            }
            p {
                font-size: .9em;
                padding-bottom: 1em;
            }
            &:hover {
                //transform: translateY(-15px);
                transform: scale(1.05);
                transition: all ease-in-out 300ms;
                box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
            }
        }
    }
}

.contact {
    padding: 5em 0;
    @media(max-width: 700px) {
        padding: 1em 0;
    }
    .contact--items {
        display: grid;
        grid-template: 100% / repeat(3, 1fr);
        text-align: center;
        @media(max-width: 700px) {
            grid-template: repeat(3, 1fr) / repeat(1, 1fr);
        }
        .contact--items--item {
            img {
                width: 3.5em;
                height: auto;
            }
            h5 {
                color: rgb(150, 150, 150);
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: .9em;
                @media(max-width: 700px) {
                    padding-bottom: 4em;
                    font-size: .7em;
                }
            }
        }        
    }
}

footer {
    text-align: center;
    background: $secondary-color;
    p {
        font-size: .9em;
        color: $primary-color;
        padding: .8em 0;
        text-transform: uppercase;
        letter-spacing: 3px;
        span {
            font-size: 1.1em;
            color: rgb(255, 65, 65);
        }
    }
}